apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: iso-share
  labels:
    app: iso-share
spec:
  runPolicy: Serial
  source:
    type: Binary
  strategy:
    type: Docker
    dockerStrategy: {}
  output:
    to:
      kind: ImageStreamTag
      name: iso-share:latest
  resources: {}
